<head>
    <title>img.gabe.cat</title>
    <meta property="og:title" id="embed-title" content="img.gabe.cat"/>
    <meta property="og:description" id="embed-desc" content="a simple image hosting service"/>
    <meta name="theme-color" content="#d49559">

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=" crossorigin="anonymous"></script>

    <!--<link rel='stylesheet' href='{{ url_for("static", filename="css/styles.css") }}'>-->

    <!-- bulma -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.1/css/bulma.min.css"/>
    <script defer src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"></script>

</head>

<content>
    {% block content %} {% endblock %}
</content>