{% extends "base.html" %}

{% block content %}
    <script>
        $(document).ready(function () {
            $("#notification-button").click(function () {
                $(this).parent('div').remove();
            });
        });
    </script>

    <section class="hero is-fullheight">
        <div class="hero-body">
            <div id="register-container" class="container">
                <div class="columns is-centered">
                    <div class="column is-5-tablet is-4-desktop is-4-widescreen is-vcentered">
                        <div class="box">
                            <h2 class="subtitle">Register</h2>
                            {% with messages = get_flashed_messages(with_categories=true) %}
                                {% if messages %}
                                    {% for category, message in messages %}
                                        <div class="notification is-{{ category }} is-light">
                                            <button class="delete" id="notification-button"></button>
                                            {{ message }}
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            {% endwith %}
                            <form method="post">
                                <div class="field">
                                    <div class="control has-icons-left">
                                        <span class="icon is-small is-left">
                                            <i class="fas fa-user"></i>
                                        </span>
                                        {{ register_form.csrf_token }}
                                        {{ register_form.username_register(size=20, class='input', placeholder='Username') }}
                                    </div>
                                </div>
                                <div class="field">
                                    <div class="control has-icons-left">
                                        <span class="icon is-small is-left">
                                            <i class="fas fa-envelope"></i>
                                        </span>
                                        {{ register_form.email_register(size=20, class='input', placeholder='Email') }}
                                    </div>
                                </div>
                                <div class="field">
                                    <div class="control has-icons-left">
                                        <span class="icon is-small is-left">
                                            <i class="fas fa-lock"></i>
                                        </span>
                                        {{ register_form.password_register(size=20, class='input', placeholder='Password') }}
                                    </div>
                                </div>

                                <div class="field">
                                    <div class="control has-icons-left">
                                        <span class="icon is-small is-left">
                                            <i class="fas fa-key"></i>
                                        </span>
                                        {{ register_form.invite_code(size=20, class='input', placeholder='Invite code') }}
                                    </div>
                                </div>

                                <div class="field">
                                    <div class="control">
                                        <p class="help is-link"><a href="/login">Already have an account?</a></p>
                                    </div>
                                </div>

                                <div class="field">
                                    <div class="control">
                                        {{ register_form.button_register(size=20, class='button is-fullwidth is-link') }}
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}